pbbg-unit:not([dead]) {
    cursor: pointer;
}

pbbg-unit:not([dead]):hover {
    border-color: #53b6ca;
}

pbbg-unit[selected] {
    border: 2px solid #0087ff;
    padding: 5px;
}

pbbg-unit[selected]:hover {
    border-color: black;
}

.battle-interface {
    display: grid;
    grid-template-areas:
        "allies enemies"
        "attack attack";
}

.battle-interface > :nth-child(1) {
    grid-area: allies;
}

.battle-interface > :nth-child(2) {
    grid-area: enemies;
}

.battle-interface > :nth-child(3) {
    grid-area: attack;
    justify-self: center;
}

.battle-interface > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battle-interface > div > h1 {
    text-align: center;
}

.battle-interface ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}
