body {
    background-image: url("/img/background.png");
}

.container {
    width: 992px;
    height: 640px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.container > footer {
    text-align: center;
    font-size: 12px;
}

.content {
    display: flex;
    background: #e1e4ffcf;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 150px;
    border: black 1px solid;
    flex: 0 0 150px;
    order: -1;
    text-align: center;
}

.sidebar > * {
    padding: 6px;
}

.sidebar > .username {
    font-weight: bold;
    border-bottom: grey 1px solid;
}

.content main {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: black 1px solid;
    padding: 6px;
}

.content main > a, .content main > div, .content main > form {
    margin: 4px;
}

.content main > a, .content main > div {
    display: inline-block;
}

.content main > input {
    padding: 4px;
}

.form-errors > li {
    color: red;
}

.sidebar-home::before {
    content: "🏠";
}

.sidebar-inventory::before {
    content: "🎒";
}

.sidebar-mine::before {
    content: "⛏";
}

.sidebar-logout {
    margin-top: auto;
    margin-bottom: 0;
}

.sidebar-login-form > * {
    max-width: 100%;
    box-sizing: border-box;
}

button {
    text-transform: uppercase;
    padding: 3px 15px;
    color: white;
    height: 32px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
}
