body {
    background-image: url("/img/background.png");
}

.container {
    width: 992px;
    background: #e1e4ffcf;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container a, .container button, .container div, .container form {
    margin: 4px;
}

.container a, .container div {
    display: inline-block;
}

.container input {
    padding: 4px;
}
