.inventory-list {
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #717171;
}

.inventory-list-item {
    margin: 2px;
    list-style-type: none;
}

.inventory-list-item > img {
    display: block;
    padding: 1px;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    border-left: 3px solid black;
}

.inventory-list-item > div {
    width: 180px;
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.65);
}

.inventory-list-item:hover > div {
    display: block;
}
