.mining-grid {
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid black;
    background-image: url("/img/mine/ground.png");
    margin: 4px auto;
}

.mining-grid tr {
    height: 16px;
}

.mining-grid td {
    min-width: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
}

.mining-grid.enabled td {
    cursor: pointer;
}

.mining-grid.enabled .selected-item {
    background-color: limegreen;
}

.mining-results-list {
    font-size: 13px;
    min-height: 140px;
    overflow-y: scroll;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #c8cadacf;
}

.mining-results-list > li {
    height: 26px;
    padding: 4px;
    box-sizing: border-box;
}

.mining-results-list > li:nth-child(even) {
    background-color: #d7d9e8cf;
}

.mining-results-list > li > img {
    max-height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.mining-results-level-up {
    color: #04b104;
}

button.mining-exit-mine {
    align-self: center;
    text-transform: uppercase;
    padding: 3px 15px;
    color: white;
    height: 32px;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
}

button.mining-exit-mine:disabled {
    background-color: #cccccc;
    color: #8a8a8a;
    border: 1px solid #999999;
    box-shadow: initial;
}

button.mining-exit-mine.loading {
    cursor: wait;
}

table.mining-mine-info {
    border-collapse: collapse;
    text-align: left;
}

table.mining-mine-info > thead th, table.mining-mine-info > tbody td {
    border: 1px solid #909090;
    padding: 8px;
}

table.mining-mine-info > thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7924da;
    color: white;
}

table.mining-mine-info > tbody > tr.unmet-minimum-level {
    background-color: #ff040426;
}
