.mining-grid {
    table-layout: fixed;
    border-spacing: 0;
    border: 1px solid black;
    background-image: url("/img/mine/ground.png");
    margin: 4px auto 0;
}

.mining-grid tr {
    height: 16px;
}

.mining-grid td {
    min-width: 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
}

.mining-grid.enabled td {
    cursor: pointer;
}

.mining-grid.enabled.pending-mine-action td {
    cursor: wait;
}

.mining-grid.enabled:not(.pending-mine-action) td.hovered-cell {
    background-color: limegreen;
}

.mining-grid.enabled td.pending-cell {
    animation: pending-cell-anim 1.5s;
    animation-iteration-count: infinite;
}

@keyframes pending-cell-anim {
    0% {
        background-color: #258b25;
    }

    50% {
        background-color: #9d9d9d;
    }

    100% {
        background-color: #258b25;
    }
}

.mining-results-list {
    font-size: 13px;
    height: 140px;
    overflow-y: scroll;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #c8cadacf;
}

.mining-results-list.expanded {
    min-height: 140px;
}

.mining-results-list > li {
    height: 26px;
    padding: 4px;
    box-sizing: border-box;
}

.mining-results-list > li:nth-child(even) {
    background-color: #d7d9e8cf;
}

.mining-results-list > li > img {
    max-height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
}

.mining-results-level-up {
    color: #04b104;
}

table.mining-mine-info {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

table.mining-mine-info > thead th, table.mining-mine-info > tbody td {
    border: 1px solid #909090;
    padding: 8px;
}

table.mining-mine-info > thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #7924da;
    color: white;
}

table.mining-mine-info > tbody > tr.unmet-minimum-level {
    background-color: #38383826;
    color: #797979;
}

table.mining-mine-info > tbody > tr.unmet-minimum-level button.mining-generate-mine:disabled {
    cursor: not-allowed;
}
